@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-weight: 900;
    src: local('Lato'), url(./fonts/Lato-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-weight: 900;
    src: local('Lato'), url(./fonts/Lato-Black.woff) format('woff');
}
@font-face {
    font-family: 'Lato';
    font-weight: 500;
    src: local('Lato'), url(./fonts/Lato-Italic.woff) format('woff');
}

body {
  font-family: Lato, Arial, serif;
  background-color: grey;
}

